.progress-bar-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 5px;
    background-color: #ddd;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: teal;;
}

header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    line-height: 60px;
}

header nav {
    margin-right: 20px;
}

header nav a {
    margin-left: 35px;
    text-decoration: none;
    color: black;
    line-height: 60px;
    display: inline-block;
    /* background-color: skyblue; */
    padding: 0 10px;
}

header nav a:hover {
    color: tomato
}

main {
    padding-top: 60px;
}

main section {
    height: 100vh;
}

main #section1 {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #section2 {
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #section3 {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

main section p {
    width: 50%;
    text-align: center;
    line-height: 1.4rem;
}

#top {
 width: 90px;
 height: 90px;
 background-color: black;
 border-radius: 50%;
 position: fixed;
 right: 20px;
 bottom: 20px;
}

#top a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}