/* 클래스 선택자로 배경색은 yellowgreen, 글자색은 red 로 만들기 */
#id1 {
    background: pink;
}

.class1 {
    background: yellowgreen;
    color: red;
}
div {
    width: 200px;
    height: 200px;
    color: white;
    background: teal !important; 
}