body{
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 4, 255));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.square {
    width: 10px;
    height: 50px;
    background-color: white;
    margin: 3px;
    border-radius: 10px;
    animation: Ani 0.5s linear infinite;
}

.square:nth-child(1) {
    animation-delay: 0.1s;
}

.square:nth-child(2) {
    animation-delay: 0.2s;
}

.square:nth-child(3) {
    animation-delay: 0.3s;
}

.square:nth-child(4) {
    animation-delay: 0.4s;
}

.square:nth-child(5) {
    animation-delay: 0.3s;
}

.square:nth-child(6) {
    animation-delay: 0.2s;
}

.square:nth-child(7) {
    animation-delay: 0.1s;
}

@keyframes Ani {
    0%{
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(2);  
    }
    100%{
        transform: scaleY(1);
    }
}